*
  margin 0
  padding 0
  outline 0
  box-sizing border-box

.flex
  display flex

.flex-height
  height 100vh

.flex-column
  flex-direction column

.flex-center
  justify-content center
  align-items center

.flex-center-y
  align-items center

.flex-1
  flex 1

.pdlr
  padding-left 16px
  padding-right @padding-left
